.img-map {
    max-width: 80vw;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.title {
    text-align: center;
}

.list-countries {
    display: flex;
    flex-wrap: wrap;
}